<mat-card *ngFor="let calificacion of calificaciones" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">Calificación: {{calificacion.calificacion}}</div>
    <mat-card-title>{{calificacion.subtitulo}}</mat-card-title>
    <mat-card-subtitle>{{calificacion.nombre}}</mat-card-subtitle>
    <mat-card-subtitle>Fecha de comentario: {{calificacion.fechaCalif}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{calificacion.comentario}}
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <div class="card">
      <mat-label>Título del comentario</mat-label>
      <input [(ngModel)]="calificacionUsuario.subtitulo" type="text" class="form-control" maxlength="60" matInput >
      <mat-label>Calificación</mat-label>
      <mat-slider [(ngModel)]="calificacionUsuario.calificacion" min="0" max="10" step="1"></mat-slider>
      <mat-label>Comentario</mat-label>
      <input  [(ngModel)]="calificacionUsuario.comentario" type="text" class="form-control" maxlength="60" matInput >
  </div>
  <button mat-raised-button (click)= "saveCalificacion()" color="accent"><span class="material-icons">done</span>Guardar Comentario</button>
</mat-card>

