<div class="container">
  <div class="titulo">
    <h1>Agregar nueva pelicula</h1>
  </div>
  <form #form="ngForm" (ngSubmit)="saveMovie(form.value)" class="well">
      <table class="example-full-width" cellspacing="0">
          <div class="card">
            <tr>
            <td>
              <div class="form-group">
                <mat-form-field  class="input-headline">
                  <mat-label>Título</mat-label>
                  <input type="text" class="form-control" required name="titulo" maxlength="60" matInput ngModel>
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="form-group">
                <mat-form-field  class="input-headline">
                  <mat-label>Duración</mat-label>
                  <input type="text" class="form-control" required name="duracion" matInput ngModel>
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="form-group">
                <mat-form-field  class="input-headline">
                  <mat-label>Fecha de emisión</mat-label>
                  <input type="date" class="form-control" required name="fechaEmision" matInput ngModel>
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="form-group">
                <mat-form-field class="input-headline">
                  <mat-label>Sinopsis</mat-label>
                  <textarea matInput
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="10" class="form-control" required name="sinopsis" ngModel></textarea>
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="form-group">
                <mat-form-field class="input-headline">
                  <mat-label>Link del trailer</mat-label>
                  <input type="url"  class="form-control" required name="linkTrailer"  matInput ngModel>
                  </mat-form-field>
              </div>
            </td>
          </tr>
        </div>
      <div class="card">
      <tr>
        <td>
            <div class="form-group">
              <mat-label class="input-headline">Elegir portada de pelicula</mat-label><br/>
              <input type="file" alife-file-to-base64 (onFileChanged)="onFileChanges($event)"/>
              <img src="{{direccion}}">
            </div>
          </td>
        <td>
          <div class="form-group">
            <mat-form-field class="input-headline">
              <mat-label>Clasificación</mat-label>
              <mat-select class="form-control" required name="idClasificacion" value="selected" ngModel>
                <div *ngFor="let clasificacion of clasificaciones">
                <mat-option value="{{clasificacion.idClasificacion}}">{{clasificacion.tipoClasificacion}}</mat-option>
                </div>
              </mat-select>
              </mat-form-field>
          </div>
        </td>
        <td>
          <div class="form-group">
            <mat-form-field class="input-headline">
              <mat-label>País</mat-label>
              <mat-select class="form-control" required name="idPais" value="selected" ngModel>
              <div *ngFor="let pais of paises">
                <mat-option value="{{pais.idPais}}">{{pais.nombrePais}}</mat-option>
              </div>
              </mat-select>
              </mat-form-field>
            </div>
        </td>
        <td>
          <div class="form-group">
            <mat-form-field class="input-headline">
              <mat-label>Tipo Material</mat-label>
              <mat-select  class="form-control" required name="idTipoMaterial" value="selected" ngModel>
                <div *ngFor="let tipoMaterial of tipoMateriales">
                <mat-option value="{{tipoMaterial.idTipoMaterial}}">{{tipoMaterial.tipo}}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>
          </div>
        </td>
      </tr>
    </div>
  </table>
  <div>
    <button mat-raised-button type="submit" color="accent"><span class="material-icons">done</span>Guardar pelicula</button>
  </div>
</form>


  <table class="example-full-width" cellspacing="0">
    <div class="card">
      <tr>
        <td>
          <div class="form-group">
              <mat-checkbox *ngFor="let genero of generosCatalogo"  [(ngModel)]="genero.isChecked">
                {{genero.tipoGenero}}
              </mat-checkbox>
          </div>
        </td>
      </tr>
    </div>

    <app-movie-add-persona
      [personaList]="personas"
      [selectedPersonas]="selectedDirectores"
      titulo="Directores">
    </app-movie-add-persona>

    <app-movie-add-persona
      [personaList]="personas"
      [selectedPersonas]="selectedEscritores"
      titulo="Escritores">
    </app-movie-add-persona>

    <app-movie-add-persona
      [personaList]="personas"
      [selectedPersonas]="selectedActores"
      [actorMode]="true"
      titulo="Actores/Personajes">
    </app-movie-add-persona>
  </table>

  <div class="center">
    <button mat-raised-button type="button" color="accent" (click)=newPersona()><span class="material-icons">playlist_add</span> Agregar Persona</button>
  </div>

<div *ngIf="agregarPersonaForm">
  <form #form="ngForm" (ngSubmit)="savePersona(form.value)" class="well">
  <table class="example-full-width" cellspacing="0">
    <div class="card">
      <tr>
        <td>
          <div class="form-group">
            <mat-form-field  class="input-headline">
              <mat-label>Nombre</mat-label>
              <input type="text" class="form-control" required name="nombre" maxlength="40" matInput ngModel>
            </mat-form-field>
          </div>
        </td>
        <td>
          <div class="form-group">
            <mat-form-field  class="input-headline">
              <mat-label>Fecha de nacimiento</mat-label>
              <input type="date" class="form-control" required name="fechaNacimiento" matInput ngModel>
            </mat-form-field>
          </div>
        </td>
        <td>
          <div class="form-group">
            <mat-form-field class="input-headline">
              <mat-label>Biografía</mat-label>
              <textarea matInput class="form-control" required name="miniBiografia" ngModel></textarea>
            </mat-form-field>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <mat-label class="input-headline">Elegir imagen de la persona</mat-label><br/>
            <input type="file" alife-file-to-base64 (onFileChanged)="onFilePersona($event)"/>
            <img src="{{direccionPersona}}">
          </div>
        </td>
        <td>
          <div class="form-group">
            <mat-form-field class="input-headline">
              <mat-label>País</mat-label>
              <mat-select class="form-control" required name="idPais" value="selected" ngModel>
              <div *ngFor="let pais of paises">
                <mat-option value="{{pais.idPais}}">{{pais.nombrePais}}</mat-option>
              </div>
              </mat-select>
              </mat-form-field>
            </div>
        </td>
        <td>
          <div class="form-group">
            <mat-form-field class="input-headline">
              <mat-label>Profesión</mat-label>
              <mat-select class="form-control" required name="profesion" value="selected" ngModel>
              <div *ngFor="let pais of paises">
                <mat-option value="{{pais.idPais}}">{{pais.nombrePais}}</mat-option>
              </div>
              </mat-select>
              </mat-form-field>
            </div>
        </td>
      </tr>
      <div class="center">
        <button mat-raised-button type="submit" color="accent"><span class="material-icons">done</span>Guardar persona</button><br/><br/>
        <input mat-raised-button type="button" color="accent" value="Reset Form" onClick="this.form.reset()" />
      </div>
      <br/>
    </div>
  </table>
  </form>
  </div>
</div>


