<div class="row" *ngIf="!loading">

  <div class="col s4" *ngFor="let columna of pelisPerColums">
    <div class="row" >
        <div class="card hoverable" (click)="viewPeli(peli.idPelicula)" *ngFor="let peli of columna">
          <div class="card-image" >
            <img *ngIf="!peli.img" src="assets/images/movies.jpg" alt="placeholder">
            <img *ngIf="peli.img" [src]="peli.img" alt="imagen 100 real">
            <span class="card-title">{{peli.titulo}}</span>
          </div>

        </div>  

      </div>
    </div>
    
    
  </div> 
  <div class="row">
    <mat-spinner *ngIf="loading"></mat-spinner>

  </div>