/* @extend display-flex; */
display-flex, .signup-content, .form-row, .form-radio, .select-icon, .select-icon i {
  display: flex;
  display: -webkit-flex; }

input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

img {
  width: 100%;
  height: 100%;}

figure {
  margin: 0; }


h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #222;
  font-family: 'Montserrat';
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 32px; }

.clear {
  clear: both; }

.body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  background: #282828;
  padding: 150px; }

.container {
  width: 1450px;
  position: relative;
  margin: 0 auto;
  background: #fff; }

.signup-img, .signup-form {
  width: 60%;
  }

.signup-img {
  margin-bottom: 0px;
  margin-left: 0px;
  }

.register-form {
  padding: 50px 100px 50px 70px; }

.form-row {
  margin: 0 -15px; }
  .form-row .form-group {
    width: 50%;
    padding: 0 15px; }

.form-group {
  margin-bottom: 23px;
  position: relative; }

input, select {
  display: block;
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 11px 20px;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px; }

  input:focus, select:focus {
    border: 1px solid #ff6801; }

label {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat';
  margin-bottom: 2px;
  display: block; }

.form-submit {
  text-align: right;
  padding-top: 27px; }

.submit {
  width: 140px;
  height: 40px;
  display: inline-block;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 17px;
  padding: 10px;
  border: none;
  cursor: pointer; }


  #reset {
    background: #f8f8f8;
    color: #999;
    margin-right: 8px; }
    #reset:hover {
      background: #00ad5f;
      color: #fff; }

  #submit {
    background: #00ad5f;
    color: #fff; }
    #submit:hover {
      background-color: #333333; }
