<div class="body">
  <div class="container">
      <div class="signup-content">
          <div class="signup-img">
              <img src="assets/images/Registro2.jpg" alt="">
          </div>
          <div class="signup-form">
              <form (submit)="onRegister(registerForm)" #registerForm="ngForm" class="register-form" id="register-form">
                  <h2>Registro</h2>
                  <div class="form-row">
                      <div class="form-group">
                          <label for="name">Nombre :</label>
                          <input matInput placeholder="Nombre" name="nombre" type= "text" ngModel #nombreInput="ngModel" required/>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="email">Email ID :</label>
                      <input matInput placeholder="Email" name="correo" ngModel #emailInput="ngModel" type="email" required email/>
                  </div>
                  <div class="form-group">
                    <label for="email">Username :</label>
                    <input matInput placeholder="Username" name="user" ngModel type= "text" #usernameInput="ngModel" required  />
                  </div>
                  <div class="form-group">
                    <label for="pincode">Password :</label>
                    <input matInput placeholder="Password" name="password" ngModel #passwordInput="ngModel" type= "password" required>
                  </div>
            <!--  <div class="form-group">
                    <label for="pincode">Repeat Password :</label>
                    <input type="password" name="password" id="password" >
                  </div> -->
                  <div class="form-submit">
                      <!-- <button type="submit" class="submit" name="reset" id="reset"> Reset All</button> -->
                      <button type="submit" class="submit" name="submit" id="submit"> Enviar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
