.form-group img{
  max-width: 50px;
  max-height: 50px;
}

.form-group mat-checkbox{
  margin: 30em;
}

.form-group {
  margin-bottom: 20px;
}

.center{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

mat-label {
  font-size: 18px;
  line-height: 15px;
  font-weight: 400;
  margin: 15px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #ff9100;
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 50px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}

.center{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}


.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}

.noBullet {
  list-style-type: none;
  padding: 0;
}

#join-btn {
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
}

