
<div class="container" *ngIf="isAdmin" >

  <div *ngIf="!agregarPersonaForm">
    <div class="center">
      <button mat-raised-button type="button" color="accent" (click)=newPersona()><span class="material-icons">playlist_add</span> Agregar Persona</button>
    </div>
  </div>

<div *ngIf="agregarPersonaForm">

  <div class="center">
    <button mat-raised-button type="button" color="accent" (click)=quitPersona()><span class="material-icons">playlist_add_check</span> Quitar Form</button>
  </div>

<div>
  <h1>Agregar nueva persona</h1>
</div>
<div class="card">
  <form #form="ngForm" (ngSubmit)="savePersona(form.value)" class="well" id="Persona">
  <table class="example-full-width" cellspacing="0">

      <tr>
        <td>
          <div class="form-group">
            <mat-form-field  class="input-headline">
              <mat-label>Nombre</mat-label>
              <input type="text" class="form-control" required name="nombre" maxlength="40" matInput ngModel>
            </mat-form-field>
          </div>
        </td>
        <td>
          <div class="form-group">
            <mat-form-field  class="input-headline">
              <mat-label>Fecha de nacimiento</mat-label>
              <input type="date" class="form-control" required name="fechaNacimiento" matInput ngModel>
            </mat-form-field>
          </div>
        </td>
        <td>
          <div class="form-group">
            <mat-form-field class="input-headline">
              <mat-label>Biografía</mat-label>
              <textarea matInput class="form-control" required name="miniBiografia" maxlength="390" ngModel></textarea>
            </mat-form-field>
          </div>
        </td>
        <td>
          <input mat-raised-button type="button" color="accent" value="Limpiar" (click)="clearForm()" onClick="this.form.reset()" />
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <mat-label class="input-headline">Elegir imagen de la persona</mat-label><br/>
            <input type="file" alife-file-to-base64 (onFileChanged)="onFilePersona($event)"/>
            <img id="imagen" src="{{direccionPersona}}">
          </div>
        </td>
        <td>
          <div class="form-group">
            <mat-form-field class="input-headline">
              <mat-label>País</mat-label>
              <mat-select class="form-control" required name="idPais" value="selected" ngModel>
              <div *ngFor="let pais of paises">
                <mat-option value="{{pais.idPais}}">{{pais.nombrePais}}</mat-option>
              </div>
              </mat-select>
              </mat-form-field>
            </div>
        </td>
        <td>

        </td>
        <td>
            <button mat-raised-button type="submit" color="accent"><span class="material-icons">done</span>Guardar persona</button>
        </td>
      </tr>
      <br/>
  </table>
  </form>


    <div class="form-group">
      <mat-label>Profesión</mat-label><br/><br/><br/>
      <mat-checkbox *ngFor="let tipoProfesion of tipoProfesionesCatalogo" [(ngModel)]="tipoProfesion.isChecked">
        {{tipoProfesion.tipo}}
      </mat-checkbox>
    </div>

  <br/><br/>
</div>
</div>

</div>
