
<mat-grid-list cols="1" rowHeight="11:3">
  <mat-grid-tile><img mat-card-image src="https://placeimg.com/1980/540/any"></mat-grid-tile>

</mat-grid-list>


<div class="container">
  <h1 class="mat-display-4">Bienvenido a IMDB</h1>
  <h2 class="mat-display-1">Aqui calificas y comentas tus pelis favoritas</h2>

  <a mat-button target="_blank" class="mat-display-1">Califica</a>

  <mat-tab-group>
    <div *ngIf="pelisCalif">
      <mat-tab label="Las favoritas"> <app-movie-grid [pelis]="pelisCalif"></app-movie-grid> </mat-tab>
    </div>
    <div *ngIf="pelisGenero">
      <mat-tab label="Accion"> <app-movie-grid [pelis]="pelisGenero"></app-movie-grid> </mat-tab>
    </div>
    <div *ngIf="pelisEdad">
        <mat-tab label="Para niños"> <app-movie-grid [pelis]="pelisEdad"></app-movie-grid> </mat-tab>
    </div>

  </mat-tab-group>


</div>

