<div class="card">
    <div class="card-content">
        <div class="row">
            <span class="card-title"> {{titulo}} </span>
        </div>
        <div class="row">
          
            <mat-form-field class="input-headline">
              <mat-label>{{titulo}}</mat-label>
              <mat-select #fontSize (selectionChange)="selectPersona($event.value)">
                <mat-option *ngFor="let persona of personaList; let i=index" value="{{i}}">
                  {{persona.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          
        </div>
        <div class="row">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let persona of selectedPersonas; let i = index; trackBy:trackByFn">
                    <div class="col s2">
                        {{persona.nombre}}
                        <button mat-icon-button aria-label="delete" (click)="borrarPersona($event,i)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    <div class="col s2">
                        <mat-checkbox [(ngModel)]="persona.estelar" *ngIf="actorMode">Actor estelar</mat-checkbox>
                    </div>
                    <div class="col s7">
                        <mat-form-field *ngIf="actorMode" class="example-chip-list">
                            <mat-chip-list #chipList aria-label="Personajes">
                              <mat-chip *ngFor="let actor of persona.personajes; let j=index" [selectable]="true"
                                       [removable]="true" (removed)="borrarPersonaje(i,j)">
                                {{actor}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                              </mat-chip>
                              <input placeholder="Personajes..."
                                     [matChipInputFor]="chipList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     [matChipInputAddOnBlur]="true"
                                     (matChipInputTokenEnd)="addPersonaje($event,i)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>

</div>
