<!-- <div class="container">
    <div class="row">
        <div class="col s4">
            <div class="card hoverable" >
                <div class="card-image" >
                    <img [src]="peli.img" alt="Photo of a Shiba Inu">
                  <span class="card-title">{{peli.titulo}}</span> -->
                  <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
                <!-- </div> -->
                <!-- <div class="card-action">
                  <a href="#">This is a link</a>
                </div> -->
            <!-- </div>
        </div>
        <div class="col s8">
              <div class="card hoverable">
                <div class="card-content">
                  <span class="card-title">{{peli.titulo}} ({{peli.fechaEmision}})</span>
                  <p>{{peli.tipoMaterial}} | {{peli.clasificacion}} | {{peli.generos}} |
                  </p>
                  <p>{{peli.sinopsis}}</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>
              </div>

        </div>
    </div>

    <div class="row">
      <div class="col s5">
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title">Cast y demás</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s7">
        <iframe  src="https://www.youtube.com/embed/Aj7ecVrNdPU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
    </div>

</div>
 -->
 <body>
	<div class="wrapper">
		<main class="content">
			<div class="movie">
				<section class="trailer">
					<h3>Trailer</h3>
					<div class="trailer_frame">
						<iframe width="560" height="315" [src]="peli.linkTrailer" frameborder="0" allowfullscreen></iframe>
					</div>
				</section>
				<section class="Descripcion">
					<img [src]="peli.img">
					<ul>
						<li>{{peli.titulo}} {{peli.fechaEmision}}</li>
						<li>{{peli.sinopsis}}</li>
            <li><a>{{peli.generos}}</a></li>
            <li><a> Clasificación: {{peli.clasificacion}}</a></li>
            <li><a> Directores: {{persona.nombreDirectores}}</a></li>
            <li><a> Escritores: {{persona.nombreEscritores}}</a></li>
						<li> <a>Stars: </a> <a>Harrison Ford</a>, <a>Sean Connery</a></li>
						<li>34,000 Views</li>
					</ul>
        </section>
        <section class="Casts">
          <div class= "row">
            <h3>Cast</h3>
          </div>
          <div *ngFor="let key of actores ">
            <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <img src="../../../assets/images/Indiana.jpg"/>
              </mat-panel-title>
              <mat-panel-description>
                {{key.nombre}}
              </mat-panel-description>
              <mat-panel-description>
                  {{actores[key].nombrePapel}}
              </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{actores[key].fechaNacimiento}}</p>
              <p>{{actores[key].miniBiografia}}</p>
            </mat-expansion-panel>
          </div>
				</section>
        <section class="Comments">
          <div class= "row">
            <h3>Comments</h3>
          </div>
          <mat-card class="card-container">
            <img src="../../../assets/images/silueta.png" />
            <mat-card-header>
              <mat-card-title class="card-container-titulo">Nombre del usuario</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
				</section>
			</div>
		</main>
	</div>
</body>
