<!-- <div class="container">
    <div class="row">
        <div class="col s4">
            <div class="card hoverable" >
                <div class="card-image" >
                    <img [src]="peli.img" alt="Photo of a Shiba Inu">
                  <span class="card-title">{{peli.titulo}}</span> -->
                  <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
                <!-- </div> -->
                <!-- <div class="card-action">
                  <a href="#">This is a link</a>
                </div> -->
            <!-- </div>
        </div>
        <div class="col s8">
              <div class="card hoverable">
                <div class="card-content">
                  <span class="card-title">{{peli.titulo}} ({{peli.fechaEmision}})</span>
                  <p>{{peli.tipoMaterial}} | {{peli.clasificacion}} | {{peli.generos}} |
                  </p>
                  <p>{{peli.sinopsis}}</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>
              </div>

        </div>
    </div>

    <div class="row">
      <div class="col s5">
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title">Cast y demás</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s7">
        <iframe  src="https://www.youtube.com/embed/Aj7ecVrNdPU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
    </div>

</div>
 -->
 <body>
	<div class="wrapper">
		<main class="content">
			<div class="movie">
				<section class="trailer">
					<h3>Trailer</h3>
					<div class="trailer_frame">
						<iframe width="560" height="315" [src]="peli.linkTrailer" frameborder="0" allowfullscreen></iframe>
					</div>
				</section>
				<section class="Descripcion">
          <img *ngIf="peli.img" [src]="peli.img">
          <img *ngIf="!peli.img" src="assets/images/movies.jpg" alt="placeholder">
					<ul>
						<li>{{peli.titulo}} {{peli.fechaEmision | date: 'dd/MM/yyyy'}}</li>
            <li *ngIf="peli.calificacion != -1">Calificación: {{peli.calificacion}}</li>
            <li *ngIf="peli.calificacion == -1">CP (Calificación pendiente)</li>
						<li>{{peli.sinopsis}}</li>
            <li><a>{{peli.generos}}</a></li>
            <li><a> Clasificación: {{peli.clasificacion}}</a></li>
            <li><a> Directores: {{persona.nombreDirectores}}</a></li>
            <li><a> Escritores: {{persona.nombreEscritores}}</a></li>
            <li><a> Estrellas: {{persona.nombreEstrellas}}</a></li>
					</ul>
        </section>
        <section class="Casts">
          <div class= "row">
            <h3>Cast</h3>
          </div>
          <div *ngFor="let key of actores ">
            <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <img src="../../../assets/images/silueta.png"/>
              </mat-panel-title>
              <mat-panel-description>
                {{key.nombre}}
              </mat-panel-description>
              <mat-panel-description>
                  {{key.nombrePapel}}
              </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{key.fechaNacimiento  | date: 'dd/MM/yyyy'}}</p>
              <p>{{key.miniBiografia}}</p>
            </mat-expansion-panel>
          </div>
        </section>

        <section class="Comments">
          <div class= "row">
            <h3>Comments</h3>
          </div>
          <app-movie-calif>
          </app-movie-calif>
				</section>
			</div>
		</main>
	</div>
</body>
