
<div class="limiter">
  <div fxLayout="row">
    <div class="imagen">
      <img mat-mat-card-xl-image src="assets/images/movies.jpg" alt="">
    </div>

    <form class="login100-form validate-form">
      <span class="login100-form-title p-b-34">Account Login </span>

      <div class="wrap-input100 rs1-wrap-input100  m-b-20">
        <input class="input100" matInput name="user" type="text" ngModel placeholder="Username" #usernameInput="ngModel" required>
        <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 rs2-wrap-input100  m-b-20">
        <input  class="input100" matInput name="password" ngModel placeholder="Password" type="password" #passwordInput="ngModel" required>
        <span class="focus-input100"></span>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn">SIGN IN</button>
      </div>

      <div class="p-t-27 p-b-239">
      </div>
    </form>
  </div>
</div>
