<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-34">
          Account Login
        </span>
        
        <div class="wrap-input100 rs1-wrap-input100  m-b-20">
          <input class="input100" matInput name="user" ngModel placeholder="Username" type="username" #usernameInput="ngModel" required>
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 rs2-wrap-input100  m-b-20">
          <input class="input100"  matInput name="password" ngModel placeholder="Password" type="password" #passwordInput="ngModel" required>
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Sign in
          </button>
        </div>

        <div class="w-full text-center p-t-27 p-b-239">
        </div>

        <div class="w-full text-center">
          <a href="#" class="txt3">
            Sign Up
          </a>
        </div>
      </form>
      <img class="login100-more" src="assets/images/movies.jpg">
    </div>
  </div>
</div>
