<body>
	<div class="wrapper">
		<main class="content">
			<div class="movie">
				<section class="trailer">
					<h3>Trailer</h3>
					<div class="trailer_frame">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/HqOSLZl9GUo" frameborder="0" allowfullscreen></iframe>
					</div>
				</section>
				<section class="Descripcion">
					<img src="assets/images/Indiana.jpg">
					<ul>
						<li>Indiana Jones y la última cruzada</li>
						<li>In 1938, after his father Professor Henry Jones,
							Sr. goes missing while pursuing the Holy Grail, Professor Henry "Indiana" Jones,
							Jr. finds himself up against Adolf Hitler's Nazis again to stop them from obtaining its powers.</li>
						<li><a >Adventure</a>, <a>Action</a> </li>
						<li><a>Harrison Ford</a>, <a>Sean Connery</a></li>
						<li>34,000 Views</li>
					</ul>
				</section>
			</div>
		</main>
	</div>
</body>
